.vscode/**
**/*.ts
**/*.map
.gitignore
**/tsconfig.json
**/tsconfig.base.json
images/**
publish.sh
publish-open-vsx.sh
quickfixes/**
src/**
src-webviews/**
tests/**
out/test/**
.prettierrc.yaml
scripts/**
snippets/**
packages/**
