.vscode/**
**/*.ts
**/*.map
.gitignore
.dockerignore
**/tsconfig.json
**/tsconfig.base.json
**/tsconfig.tsbuildinfo
images/**
publish.sh
publish-open-vsx.sh
quickfixes/**
src/**
tests/**
out/test/**
.prettierrc.yaml
scripts/**
snippets/**
packages/**
Dockerfile
Jenkinsfile
build.sh
CHANGELOG.md
WHATS-NEW.md
README.md
spdx-report.json
total-issues.txt
total-lines.txt
eslint-report.json
eslint.config.mjs
issues-per-1k-lines.txt
stats.txt
